.header {
  display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.toggleText {
  color: var(--color-primary);
  cursor: pointer;
}
.wrapper {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.main {
  margin-bottom: 25px;
}
