.navbar {
  background-color:var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0px 32px;
  overflow-x: hidden;
  gap:30px;
}

.button {
  background-color: var(--black-color);
  color: var(--primary-color);
  border-radius: 12px;
  padding: 10px 16px;
  cursor: pointer;
  font-family:"Poppins";
}